a:link {
  text-decoration: none;
}
body{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/statics/image/girlnote.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
}
.label{
    margin-top: 2%;
    color: white;
    letter-spacing: 1px;
}
#content{
    letter-spacing: 2px;
}
.div_date{
    color: lightyellow;
    margin-left: 55%;
}
#new_note:hover{
    background-color: rgb(106, 90, 205);
}
#return:hover{
    background-color: rgb(106, 90, 205);
}
.my_button{
    margin-top: 50%;
}
#success{
    padding: 5px;
}
