{% extends "note/note_list.html" %}
{% load crispy_forms_tags %}
{% block block %}
    {% if note_update %}
        <div id="form_background">
            <form id="form" method="post" action="{% url 'update' note_update.title %}">
                {% csrf_token %}
                <div id="note_title"><h2>Make Your Own Note</h2></div>
                <div class="row">
                    <div class="col-8">
                        <label id="title_label">Title</label>
<!--                        {{ form.title | as_crispy_field}}-->

                        <input id="input_title" placeholder="Title" name="title" value="{{note_update.title}}">
                        {% if messages %}
                            {% for m in messages %}
                                {% if m.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <strong><p style="color: #FF0000; letter-spacing: 2px;">{{ m }}</p></strong>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                     <div class="col-8">
                         <label id="content_label">Content</label>
<!--                        {{ form.context | as_crispy_field}}-->
                         <textarea placeholder="Context" name="context">{{note_update.context}}</textarea>
                    </div>
                </div>
                <br><button id="create" type="submit" class="button is-info">Update
                <i id="create_icon" class="fa fa-file-code-o"></i></button>
            </form>
        </div>
    {% else %}
        <div id="form_background">
            <form id="form" method="post" action="{% url 'create' %}">
                {% csrf_token %}
                <div id="note_title"><h2>Make Your Own Note</h2></div>
                <div class="row">
                    <div class="col-8">
                        <label id="title_label">Title</label>
                        <input id="input_title" placeholder="Title" name="title">
                        {% if messages %}
                            {% for m in messages %}
                                {% if m.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <strong><p style="color: #FF0000; letter-spacing: 2px;">{{ m }}</p></strong>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                     <div class="col-8">
                         <label id="content_label">Content</label>
                         <textarea placeholder="Context" name="context"></textarea>
                    </div>
                </div>
                <br><button id="create" type="submit" class="button is-info">Create
                <i id="create_icon" class="fa fa-file-code-o"></i></button>
            </form>
        </div>
    {% endif %}
{% endblock %}
<!--
<div class="field is-grouped">
    <div class="control">
        <br><button id="add" class="button is-primary">Add</button>
    </div>
    <div class="control">
        <br><button id="edit" class="button is-info">Edit</button>
    </div>
    <div class="control">
        <br><a id="delete" href="" class="button is-danger">Delete</a>
     </div>
</div>